<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Classes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Classes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-button slot="start">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-input placeholder="Search Student"
      [value]="searchTerm"
        (ionInput)="searchStudent($event)"
        clearInput="true"
        ></ion-input>
    </ion-item>
  </ion-list>

  @if (noResults) {
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-text color="medium">
          <h2>No students found with the name "{{searchTerm}}"</h2>
          <p>Try another name</p>
        </ion-text>
      </ion-label>
    </ion-item>
  }
  
  @if (!noResults) {
    <ion-list>
      @for( class of classes; track class ){

        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-icon name="person"> </ion-icon>
               Student name: {{class.StudentId.FirstName }} {{class.StudentId.LastName}} 
              </ion-card-title>
            <ion-card-title><ion-icon name="people"> </ion-icon>
               Tutor name: {{class.TutorId.FirstName }} {{class.TutorId.LastName}} 
              </ion-card-title>
            <ion-card-subtitle class="ion-text-wrap"> <ion-icon name="time"> </ion-icon>
               Date: {{class.Date | date:'dd/MM/yyyy HH:mm' }}
              </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      }
    </ion-list>
  }
</ion-content>
